.title-copy {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
}
.btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}